ksa-core/src/main/resources/xsd/transaction-import.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ksa-transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="account-identifier" type="xs:string" nillable="false"/>
				<xs:element name="incoming-identifier" type="xs:string" minOccurs="0"/>
				<xs:element name="effective-date" type="xs:date"/>
				<xs:element name="origination-date" type="xs:date" minOccurs="0"/>
				<xs:element name="recognition-date" minOccurs="0"/>
				<xs:element name="amount" type="xs:decimal"/>
				<xs:sequence minOccurs="0">
					<xs:element name="native-amount" type="xs:decimal"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
				<xs:element name="document" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="person-to-contact" type="xs:string"/>
							<xs:element name="telephone-number" type="xs:string"/>
							<xs:element name="email-address" type="xs:string"/>
							<xs:element name="open-document" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:sequence minOccurs="0">
					<xs:element name="override">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="override-rollup" type="xs:string" minOccurs="0"/>
								<xs:element name="override-statement-text" type="xs:string" minOccurs="0"/>
								<xs:element name="general-ledger-type" minOccurs="0"/>
								<xs:sequence minOccurs="0">
									<xs:element name="general-ledger-override">
										<xs:complexType>
											<xs:sequence maxOccurs="unbounded">
												<xs:element name="general-ledger-account" type="xs:string"/>
												<xs:element name="percentage-allocation" type="xs:decimal"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:element name="override-refund-rule" type="xs:string" minOccurs="0"/>
								<xs:element name="is-refundable" type="xs:boolean" minOccurs="0"/>
								<xs:choice minOccurs="0">
									<xs:element name="override-clear-date" type="xs:int"/>
									<xs:element name="override-clear-period"/>
								</xs:choice>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="transaction-type" type="xs:string" form="qualified"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ksa-batch-transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="batch-identifier" type="xs:string"/>
				<xs:element ref="ksa-transaction" maxOccurs="unbounded"/>
				<xs:element name="batch-control" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="number-of-transactions" type="xs:int"/>
							<xs:element name="total-value" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ksa-batch-transaction-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response-identifier" type="xs:string"/>
				<xs:element name="response-to-batch-identifier" type="xs:string"/>
				<xs:element name="batch-status" type="xs:string"/>
				<xs:element name="accepted">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="ksa-transaction"/>
							<xs:element name="transaction-details">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="transaction-id" type="xs:string"/>
										<xs:element name="accepted-date" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="failed">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="ksa-transaction"/>
							<xs:element name="reason" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="batch-summary">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="transactions-in-batch" type="xs:int"/>
							<xs:element name="value-of-batch" type="xs:decimal"/>
							<xs:element name="transactions-accepted" type="xs:int"/>
							<xs:element name="value-accepted" type="xs:decimal"/>
							<xs:element name="transactions-failed" type="xs:int"/>
							<xs:element name="value-failed" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="account">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="command" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="new"/>
							<xs:enumeration value="update"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="account-status-type" type="xs:string" minOccurs="0"/>
				<xs:element name="account-identifier" type="xs:string"/>
				<xs:element name="is-kim-account" type="xs:boolean" minOccurs="0"/>
				<xs:element name="can-authenticate" type="xs:boolean" minOccurs="0"/>
				<xs:element ref="person-name" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="postal-address" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="electronic-contact" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="credit-limit" type="xs:decimal" minOccurs="0"/>
				<xs:element name="date-of-birth" type="xs:date" minOccurs="0"/>
				<xs:element name="protected-information" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="bank-information" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bank-type"/>
										<xs:element name="bank-detail"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tax-information" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tax-type"/>
										<xs:element name="tax-detail"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="identity-information" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="identity-type"/>
										<xs:element name="identity-issuer"/>
										<xs:element name="identity-serial"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="batch-account">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="account" maxOccurs="unbounded"/>
				<xs:element name="batch-control" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="number-of-accounts" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="batch-account-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="accepted">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="account" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="rejected">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element ref="account"/>
							<xs:element name="reason" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="batch-summary">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="number-in-batch" type="xs:int"/>
							<xs:element name="number-accepted" type="xs:int"/>
							<xs:element name="number-of-updates" type="xs:int"/>
							<xs:element name="number-rejected" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="electronic-contact">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="kim-type" minOccurs="0"/>
				<xs:element name="email-address" type="xs:string" minOccurs="0"/>
				<xs:element name="telephone-number" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="country-code" type="xs:string" minOccurs="0"/>
							<xs:element name="number" type="xs:string"/>
							<xs:element name="extension" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="is-default" type="xs:boolean" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="postal-address">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="kim-type" minOccurs="0"/>
				<xs:element name="address-line-1" type="xs:string"/>
				<xs:element name="address-line-2" type="xs:string" minOccurs="0"/>
				<xs:element name="address-line-3" type="xs:string" minOccurs="0"/>
				<xs:element name="city" type="xs:string"/>
				<xs:element name="state-code" type="xs:string" minOccurs="0"/>
				<xs:element name="postal-code" type="xs:string" minOccurs="0"/>
				<xs:element name="country-code" type="xs:string" minOccurs="0"/>
				<xs:element name="is-default" type="xs:boolean" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="person-name">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="kim-type" minOccurs="0"/>
				<xs:element name="title" type="xs:string" minOccurs="0"/>
				<xs:element name="firstname" type="xs:string"/>
				<xs:element name="middlename" type="xs:string" minOccurs="0"/>
				<xs:element name="lastname" type="xs:string"/>
				<xs:element name="suffix" type="xs:string" minOccurs="0"/>
				<xs:element name="is-default" type="xs:boolean" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ksa-bill">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="preferred-delivery-mode" type="xs:string"/>
				<xs:element name="cycle">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="bill-date" type="xs:date"/>
							<xs:element name="bill-generated" type="xs:date"/>
							<xs:element name="bill-start" type="xs:date"/>
							<xs:element name="bill-end" type="xs:date"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="balances">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="with-deferments">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="aged-balance">
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:element name="period-length" type="xs:int"/>
													<xs:element name="period-balance" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="total-balance" type="xs:decimal"/>
										<xs:element name="future-balance" type="xs:decimal"/>
										<xs:element name="due-balance" type="xs:decimal"/>
										<xs:element name="overdue-balance" type="xs:decimal"/>
										<xs:element name="total-defered" type="xs:decimal"/>
										<xs:element name="next-deferment-expiration" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="without-deferments">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="aged-balance">
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:element name="period-length" type="xs:int"/>
													<xs:element name="period-balance" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="total-balance" type="xs:decimal"/>
										<xs:element name="future-balance" type="xs:decimal"/>
										<xs:element name="due-balance" type="xs:decimal"/>
										<xs:element name="overdue-balance" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="account-owner">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="account-identifier"/>
							<xs:element ref="person-name"/>
							<xs:element ref="postal-address"/>
							<xs:element ref="electronic-contact"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="bill-addressed-to">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="person-name"/>
							<xs:element ref="postal-address" minOccurs="0"/>
							<xs:element ref="electronic-contact" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="transaction-list"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="list-transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="effective-date" type="xs:date"/>
				<xs:element name="amount" type="xs:decimal"/>
				<xs:sequence minOccurs="0">
					<xs:element name="native-amount" type="xs:decimal"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
				<xs:element name="statement-text" type="xs:string" form="qualified"/>
				<xs:element name="transaction-type" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="request-failure">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string"/>
				<xs:element name="original-request" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="check">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="identifier" type="xs:string"/>
				<xs:element name="payee" type="xs:string"/>
				<xs:element ref="postal-address"/>
				<xs:element name="date" type="xs:date"/>
				<xs:element name="amount" type="xs:decimal"/>
				<xs:element name="currency" type="xs:string" minOccurs="0"/>
				<xs:element name="memo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="batch-check">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="batch-identifier" type="xs:string"/>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="check"/>
				</xs:sequence>
				<xs:element name="batch-control">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="number-of-checks" type="xs:int"/>
							<xs:element name="value-of-checks" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ach">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reference" type="xs:string"/>
				<xs:element name="aba" type="xs:string"/>
				<xs:element name="account-number" type="xs:string"/>
				<xs:element name="account-type" type="xs:string"/>
				<xs:element name="amount" type="xs:decimal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="batch-ach">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="batch-identifier" type="xs:string"/>
				<xs:element ref="ach" maxOccurs="unbounded"/>
				<xs:element name="batch-control">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="number-of-achs" type="xs:int"/>
							<xs:element name="value-of-achs" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="receipt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="receipt-date"/>
				<xs:element name="receipt-time"/>
				<xs:element name="transaction-identifier"/>
				<xs:element name="authorization"/>
				<xs:element name="amount"/>
				<xs:element name="foreign-transaction" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="native-amount" type="xs:decimal"/>
							<xs:element name="currency" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="posted-to-account-identifier"/>
				<xs:element name="posting-user-identifier"/>
				<xs:element name="transaction-type">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="transaction-type-identifier"/>
							<xs:element name="transaction-type-name"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="external-statement">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="account-identifier" type="xs:string"/>
				<xs:element name="unique-key" type="xs:string"/>
				<xs:element name="from-date" type="xs:date"/>
				<xs:element name="to-date" type="xs:date"/>
				<xs:element name="uri" type="xs:string"/>
				<xs:element name="file-type" type="xs:string"/>
				<xs:element name="redirect" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="external-statement-remove">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="by-account-identifier">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="account-identifier" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="by-date">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="from-date" type="xs:date"/>
								<xs:element name="to-date" type="xs:date"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="by-unique-key">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="unique-key" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
				<xs:element name="file-type" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="external-statement-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="external-statement"/>
				<xs:element name="response"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="external-statement-remove-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="external-statement-remove"/>
				<xs:element name="response"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="external-statement-batch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="external-statement" maxOccurs="unbounded"/>
				<xs:element ref="external-statement-remove" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="external-statement-batch-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="statement" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="external-statement"/>
							<xs:element name="response"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="statement-remove" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="external-statement-remove"/>
							<xs:element name="response"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="irs-1098-t">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="form-year" type="xs:string"/>
				<xs:element name="form-checkboxes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="void" type="xs:boolean"/>
							<xs:element name="corrected" type="xs:boolean"/>
							<xs:element name="reporting-method-changed" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="filer">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element ref="postal-address"/>
							<xs:element name="telephone-number" type="xs:string"/>
							<xs:element name="federal-identification-number"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="student">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element ref="postal-address"/>
							<xs:element name="social-security-number"/>
							<xs:element name="account-number"/>
							<xs:element name="half-time" type="xs:boolean"/>
							<xs:element name="graduate-student" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="financial">
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element name="payments-received" type="xs:decimal"/>
								<xs:element name="amount-billed" type="xs:decimal"/>
							</xs:choice>
							<xs:element name="includes-next-quarter" type="xs:boolean"/>
							<xs:element name="prior-year-adjustment" type="xs:decimal"/>
							<xs:element name="scholarships-or-grants" type="xs:decimal"/>
							<xs:element name="prior-year-scholarship-adjustment" type="xs:decimal"/>
							<xs:element name="insurance-contract" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aged-balance-report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="date-of-report" type="xs:date"/>
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="age-breakdown">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="period1" type="xs:int"/>
								<xs:element name="period2" type="xs:int"/>
								<xs:element name="period3" type="xs:int"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="aged-account-detail" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="account-identifier" type="xs:string"/>
								<xs:element name="account-name" type="xs:string"/>
								<xs:element name="account-balances">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="period1balance" type="xs:decimal"/>
											<xs:element name="period2balance" type="xs:decimal"/>
											<xs:element name="period3balance" type="xs:decimal"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="failed-transactions-report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="date-of-report" type="xs:date"/>
				<xs:element name="failure-group" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="posting-entity" type="xs:string"/>
							<xs:element name="failed">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element ref="ksa-transaction"/>
										<xs:element name="reason" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="batch-rejection" minOccurs="0">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element ref="ksa-transaction"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="account-report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="account-identifier" type="xs:string"/>
				<xs:element name="reporting-period">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="start-date" type="xs:date"/>
							<xs:element name="end-date" type="xs:date"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="name">
					<xs:complexType>
						<xs:choice>
							<xs:element ref="person-name"/>
							<xs:element name="company-name" type="xs:string"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="balances">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="aged-balance" minOccurs="0">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="period-length" type="xs:int"/>
										<xs:element name="period-balance" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="prior-balance" type="xs:decimal"/>
							<xs:element name="total-charges" type="xs:decimal"/>
							<xs:element name="total-payments" type="xs:decimal"/>
							<xs:element name="net-balance" type="xs:decimal"/>
							<xs:element name="written-off" type="xs:decimal"/>
							<xs:element name="unallocated-balance" type="xs:decimal"/>
							<xs:element name="future-balance" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="transaction-detail" minOccurs="0">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element ref="list-transaction"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="general-ledger-report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reporting-period">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="start-date" type="xs:date"/>
							<xs:element name="end-date" type="xs:date"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="general-ledger-report-entry">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="general-ledger-account" type="xs:string"/>
							<xs:element name="date" type="xs:date"/>
							<xs:element name="amount" type="xs:decimal"/>
							<xs:element name="system" type="xs:string"/>
							<xs:element name="transaction-identifier" type="xs:string" maxOccurs="unbounded"/>
							<xs:element name="transaction-status" type="xs:string"/>
							<xs:element name="transmission-identifier" type="xs:string" minOccurs="0"/>
							<xs:element name="transmission-date" type="xs:date" minOccurs="0"/>
							<xs:element name="transmission-time" type="xs:date" minOccurs="0"/>
							<xs:element name="batch" type="xs:string" minOccurs="0"/>
							<xs:element name="transmission-result" type="xs:string" minOccurs="0"/>
							<xs:element name="transmission-period" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mailing-data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="account"/>
				<xs:element ref="ksa-bill" minOccurs="0"/>
				<xs:element ref="transaction-list" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transaction-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="list-transaction" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="rollup" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="rollup-name"/>
							<xs:element ref="list-transaction"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="student-profile">
		<xs:annotation>
			<xs:documentation>Student profile is used to send information to the system that is used to underly the fee management system.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="account-identifier" type="xs:string"/>
				<xs:element name="student-information" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="citizenship" type="xs:string" minOccurs="0"/>
							<xs:element name="residency" type="xs:string" minOccurs="0"/>
							<xs:element name="year-of-study" type="xs:string" minOccurs="0"/>
							<xs:element name="level-of-study" minOccurs="0"/>
							<xs:element name="campus" minOccurs="0"/>
							<xs:element name="full-or-part-time" type="xs:string" minOccurs="0"/>
							<xs:element name="program-of-study" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="major" type="xs:string" minOccurs="0"/>
										<xs:element name="second-major" type="xs:string" minOccurs="0"/>
										<xs:element name="minor" type="xs:string" minOccurs="0"/>
										<xs:element name="second-minor" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="key-pair" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="period-information" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="period" minOccurs="0"/>
							<xs:element ref="key-pair" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="study" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="learning-unit" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="key-pair">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="key-name" type="xs:string"/>
				<xs:element name="value" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="learning-unit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="unit-code" type="xs:string"/>
				<xs:element name="unit-section" type="xs:string" minOccurs="0"/>
				<xs:element name="campus" minOccurs="0"/>
				<xs:element name="level" type="xs:string" minOccurs="0"/>
				<xs:element name="unit-credit" type="xs:int" minOccurs="0"/>
				<xs:element ref="key-pair" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="command" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="change"/>
						<xs:enumeration value="drop"/>
						<xs:enumeration value="add"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="effective-date" type="xs:date"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
